.navbar {
  margin-bottom: 4rem;
}

.logo {
  width: 120px;
}
.desk__nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.normal {
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 0.5rem 0;
  width: 100px;
  box-sizing: border-box;
  display: block;
  transition: background-color 0.4s ease-in-out;
  border-radius: 30px;
  margin-left: 10px;
  text-transform: uppercase;
  font-size: 13px;
  border: 1px solid white;
  font-weight: bold;
}

.normal:hover {
  background: #fff;
  color: var(--primary-color);
}

.active {
  color: var(--primary-color);
  text-decoration: none;
  padding: 0.5rem 0;
  width: 100px;
  text-align: center;
  transition: background-color 0.4s ease-in-out;
  border-radius: 25px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  border: 1px solid white;
  background: #fff;
  margin-left: 10px;
}

.active:hover {
  color: var(--primary-color);
}

.navLinks {
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  .navbar {
    margin-bottom: 0;
  }
}
