.about {
  padding-top: 1rem;
  background: #f7f8fc;
}

.content {
  max-width: 100%;
  padding: 0 1rem;
}

.img img {
  display: block;
  max-width: 500px;
  margin: auto;
  padding: 2rem;
}

@media (max-width: 600px) {
  .about {
    padding-top: 3rem;
    padding-bottom: 0;
  }
}
