.contact {
  padding: 2rem;
  background: #f7f8fc;
  word-wrap: break-word;
}
.divider {
  width: 5px;
  background: var(--primary-color);
  height: 90%;
}

.formgroup {
  margin-top: 1rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.formgroup input {
  padding: 0.8rem;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #aaa;
  outline: none;
}

.formgroup label {
  color: #00172d;
  padding-left: 5px;
  font-weight: bold;
  font-size: 18px;
}

.formgroup input:focus {
  border: 1px solid #00172d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.field {
  width: 100%;
}

.txtArea {
  resize: none;
  border-radius: 5px;
  border: 1px solid #aaa;
  outline: none;
  padding: 10px;
  height: 200px;
}

.txtArea:focus {
  border: 1px solid #00172d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn {
  margin-top: 1rem;
}

.btn button {
  border: 2px solid #00172d;
  outline: none;
  padding: 0.7rem 2rem;
  width: 150px;
  background: var(--primary-color);
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease-in;
  font-size: 18px;
}

.btn button:hover {
  color: #00172d;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contactInfo {
  width: 100%;
}

.contactInfo ul li {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.contact ul li i {
  font-size: 2rem;
  margin-right: 2rem;
  color: #00172d;
}

.map_hd {
  text-align: center;
  margin-bottom: 1rem;
}

.map_hd h4 {
  font-weight: bold;
}

.divider_hori {
  background: var(--primary-color);
  height: 5px;
  width: 90%;
}

.socialLinks {
  width: 100%;
}

.socialLinks ul {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  cursor: pointer;
  justify-content: center;
}

.socialLinks ul li {
  padding: 0 3px;
}

.socialLinks ul li i {
  font-size: 3rem;
  color: var(--primary-color);
  transition: transform 0.2s ease-out;
}

.socialLinks ul li i:hover {
  transform: scale(1.1);
}

@media (max-width: 460px) {
  .socialLinks {
    margin-left: 1rem;
  }
  .socialLinks ul li i {
    font-size: 2rem;
  }
}
